.accordion-header {
	width: 420px;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding: 15px;
	margin: 0 0 -1px 0;
	cursor: pointer;
	overflow-y: hidden;
	color: #900;
}

.accordion-header:hover {
	background-color: #fff;
}

.accordion-header.open {
	border-bottom: none;
}

.accordion-header p, .accordion-header h2, .accordion-header h3, .accordion-header h4 {
    display: inline-block;
    width: 382px;
    margin: 0;
    line-height: normal;
    vertical-align: middle;
}

.d {
    display: inline-block;
	position: relative;
	width: 22px;
    height: 22px;
    margin-left: 12px;
    vertical-align: middle;
}

.ie7 .accordion-header p, .ie7 .accordion-header h2, .ie7 .accordion-header h3, .ie7 .accordion-header h4, .ie7 .d {
    zoom: 1;
    display: inline;
}

.ie7 .d {
    overflow-y: hidden;
}

.d1, .d2 {
	position: absolute;
}

.d1 {
	left: 9px;
    width: 2px;
	height: 22px;
	background-color: #900;
}

.d2 {
	top: 10px;
	width: 22px;
	height: 2px;
	background-color: #900;
}

.accordion-body-text {
	display: none;
	width: 380px;
	margin: 0 30px 0 40px;
}

.expand-all {
	cursor: pointer;
	color: #900;
}



@media screen and (max-width:518px) {
	.accordion-header {
		width: 90%;
        padding-left: 5%;
        padding-right: 5%;
	}

    .accordion-header p, .accordion-header h2, .accordion-header h3, .accordion-header h4 {
        width: 82%;
    }

    .accordion-body-text {
		width: 80%;
		margin: 0 0 0 10%;
	}
}